---
import { getUserId } from "../../../lib/auth";
import DarkModeToggle from "../react/DarkMode/DarkModeToggle";
import LoginButton from "../react/login/LoginButton";

const { loginRequired = false } = Astro.props;
const userId = getUserId(Astro.cookies);
const isAuthenticated = Boolean(userId);

const navItems = [
  { label: "Inicio", href: "/" },
  { label: "Servicios", href: "/#service" },
  { label: "Galeria", href: "/#gallery" },
  { label: "Nosotros", href: "/#about" },
  { label: "Contacto", href: "/#contact" },
];

const { pathname, hash } = Astro.url;

function isActiveLink(href: string) {
  if (href.startsWith("/#")) {
    return hash === href.slice(1);
  }
  return pathname === href;
}
---

<div class="fixed inset-x-0 top-0 z-50 pointer-events-none flex justify-center">
  <header
    class="relative
      w-full
    max-w-[92%]
    sm:max-w-[90%]
    md:max-w-[98%]
    lg:max-w-[95%]
    xl:max-w-7xl
      mt-2 sm:mt-4 pointer-events-auto
         transition-colors duration-500
         bg-gray-100 dark:bg-slate-800 backdrop-blur-lg rounded-full shadow-md shadow-gray-400 dark:shadow-[#057ec4]/40"
  >
    <div
      class="relative
    mx-auto px-4 md:px-8 py-2
           flex items-center justify-between"
    >
      <!-- Logo -->
      <a
        href="/"
        class="relative text-lg font-semibold tracking-[0.15em]
             uppercase
             transition-all duration-300
             hover:text-(--color-secondary)"
      >
        <img
          src="/images/logo-jesac.png"
          alt="metalurgica-jesac"
          width="100"
          height="100"
        />
      </a>

      <!-- Desktop nav -->
      <nav
        class="hidden md:flex items-center gap-10 text-xs tracking-[0.25em] uppercase"
      >
        {
          navItems.map((item) => (
            <a
              href={item.href}
              class={`
        nav-link
        relative transition-all duration-300
        text-(--color-primary) dark:text-(--color-secondary)
        hover:text-(--color-secondary) dark:hover:text-(--color-primary)
        group font-bold
        ${isActiveLink(item.href) ? "nav-active" : ""}
      `}
            >
              {item.label}

              <span
                class="
            absolute -bottom-1 left-0
            w-0 h-px
            bg-(--color-secondary) dark:bg-(--color-primary)
            transition-all duration-300
            group-hover:w-full
          "
              />
            </a>
          ))
        }

        {
          isAuthenticated && (
            <>
              <a
                href="/gallery"
                class={`nav-link relative transition-all duration-300 text-(--color-primary) dark:text-(--color-secondary) hover:text-(--color-secondary) dark:hover:text-(--color-primary) group font-bold ${
                  pathname === "/gallery" ? "nav-active" : ""
                }`}
              >
                Galeria
                <span class="absolute -bottom-1 left-0 w-0 h-px bg-(--color-secondary) dark:bg-(--color-primary) transition-all duration-300 group-hover:w-full" />
              </a>

              <a
                href="/user"
                class={`nav-link relative transition-all duration-300 text-(--color-primary) dark:text-(--color-secondary) hover:text-(--color-secondary) dark:hover:text-(--color-primary) group font-bold ${
                  pathname === "/user" ? "nav-active" : ""
                }`}
              >
                Usuario
                <span class="absolute -bottom-1 left-0 w-0 h-px bg-(--color-secondary) dark:bg-(--color-primary) transition-all duration-300 group-hover:w-full" />
              </a>
              <a
                href="/services"
                class={`nav-link relative transition-all duration-300 text-(--color-primary) dark:text-(--color-secondary) hover:text-(--color-secondary) dark:hover:text-(--color-primary) group font-bold ${
                  pathname === "/services" ? "nav-active" : ""
                }`}
              >
                Servicios
                <span class="absolute -bottom-1 left-0 w-0 h-px bg-(--color-secondary) dark:bg-(--color-primary) transition-all duration-300 group-hover:w-full" />
              </a>
            </>
          )
        }

        <div
          class="flex items-center gap-5 pl-6 border-l border-(--color-primary)/60 dark:border-(--color-secondary)/60"
        >
          <DarkModeToggle client:load />
          <LoginButton
            client:load
            isAuthenticated={isAuthenticated}
            openByDefault={loginRequired}
          />
        </div>
      </nav>

      <!-- Mobile button -->
      <div class="md:hidden flex">
        <div
          class="flex items-center gap-5 pl-6 border-l border-(--color-primary)/60 dark:border-(--color-secondary)/60"
        >
        </div>
        <div class="flex gap-4">
          <DarkModeToggle client:load />
          <button
            id="menu-btn"
            class="md:hidden px-2 rounded-md
                  text-(--color-primary)/60 dark:text-(--color-secondary)/80
                  hover:text-(--color-secondary)
                  transition-all duration-300 text-2xl border
                  border-(--color-primary)/20 dark:border-(--color-secondary)/80"
            aria-label="Abrir menú"
          >
            ☰
          </button>
        </div>
      </div>
    </div>
    <!-- Mobile menu -->
    <nav
      id="mobile-menu"
      class="md:hidden fixed inset-x-4 top-16 hidden
         px-6 py-6 space-y-4
         rounded-2xl
         backdrop-blur-3xl
         bg-white/90 dark:bg-slate-900/90
         shadow-2xl shadow-black/10 dark:shadow-black/40
         border border-slate-200/60 dark:border-slate-700/60
         transition-all duration-300"
    >
      <a href="/" class="mobile-link">Inicio</a>
      <a href="/#service" class="mobile-link">Servicios</a>
      <a href="/#gallery" class="mobile-link">Galería</a>
      <a href="/#about" class="mobile-link">Nosotros</a>
      <a href="/#contact" class="mobile-link">Contacto</a>

      {
        isAuthenticated && (
          <>
            <a href="/gallery" class="mobile-link font-medium">
              Galeria
            </a>
            <a href="/user" class="mobile-link font-medium">
              Usuario
            </a>
            <a href="/services" class="mobile-link font-medium">
              Servicios
            </a>
          </>
        )
      }

      <div
        class="flex items-center justify-center gap-5 pt-5 border-t border-slate-400 dark:border-slate-500"
      >
        <LoginButton
          client:load
          isAuthenticated={isAuthenticated}
          openByDefault={loginRequired}
        />
      </div>
    </nav>
  </header>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {

    const header = document.querySelector("header");
    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");

    const navLinks = document.querySelectorAll<HTMLAnchorElement>(
      ".nav-link, .mobile-link",
    );

    function activateLink(href: string) {
      navLinks.forEach((link) => link.classList.remove("nav-active"));
      const active = Array.from(navLinks).find(
        (l) => l.getAttribute("href") === href,
      );
      if (active) active.classList.add("nav-active");
    }

    function scrollToElement(el: HTMLElement) {
      const delay = window.matchMedia("(min-width: 1367px)").matches
        ? 300
        : 800;
      setTimeout(() => {
        const headerHeight = header?.clientHeight || 0;
        const elementPosition = el.getBoundingClientRect().top + window.scrollY;
        const offsetPosition = elementPosition - headerHeight;

        window.scrollTo({
          top: offsetPosition,
          behavior: "smooth",
        });
      }, delay);
    }

    navLinks.forEach((link) => {
      link.addEventListener("click", (e) => {
        const href = link.getAttribute("href");
        if (!href) return;

        const isHashLink = href.startsWith("/#");
        const hash = isHashLink ? href.split("#")[1] : null;

        if (isHashLink && hash) {
          e.preventDefault();
          if (window.location.pathname !== "/") {
            window.location.href = `/#${hash}`;
            return;
          }

          const targetEl = document.getElementById(hash);
          if (targetEl) scrollToElement(targetEl);

          history.replaceState(null, "", `/#${hash}`);
        }
        activateLink(href);

        if (mobileMenu && !mobileMenu.classList.contains("hidden")) {
          mobileMenu.classList.add("hidden");
          if (menuBtn) menuBtn.textContent = "☰";
        }
      });
    });

    // Activar scroll automático si hay hash al cargar
    if (window.location.hash) {
      const hash = window.location.hash.slice(1);
      const targetEl = document.getElementById(hash);
      if (targetEl) scrollToElement(targetEl);
      activateLink(`/#${hash}`);
    }

    // Toggle menú móvil
    if (menuBtn && mobileMenu) {
      menuBtn.addEventListener("click", () => {
        const isOpen = !mobileMenu.classList.contains("hidden");
        mobileMenu.classList.toggle("hidden");
        menuBtn.textContent = isOpen ? "☰" : "✕";
      });
    }
  });
</script>
